@font-face {
    font-family: 'Poppins-Bold';
    src: url('./assets/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('./assets/Poppins-Regular.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Poppins-Bold';
    font-size: 2.5rem;
    color: #333333;
}

h2 {
    font-family: 'Poppins-Regular';
    color: #9dcbec;
}

/* --!-- NAVIGATION BAR --!-- */

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    padding: 1rem 4rem 1rem 4rem;
    justify-content: space-between;
    align-items: center;
}

.brand-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mobile-navbar-button {
    align-items: center;
    color: #1d1d1d;
    display: none;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: flex;
    justify-content: center;
}

.navbar-links li a, .cart-button {
    font-family: 'Poppins-Regular';
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(0, 61, 105);
    padding: 1rem;
}

.navbar-links li a:hover {
    color: #349fec;
}

.cart-button {
    display: flex;
    cursor: pointer;
}

.cart-button:hover {
    color: #349fec;
    background: none;
}

/* --!-- FOOTER --!-- */

.footer {
    clear: both;
    bottom: 0;
    background-color: #1d1d1d;
}

.footer-links {
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
}

.footer-links a {
    width: 100%;
    padding: 2rem 0 2rem 0;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-family: 'Poppins-Regular';
}

.footer-links a:hover {
    background-color: #1d1d1d;
}

.footer-name h1 {
    padding: 2rem 0 0 0;
    font-size: 5vh;
    text-align: center;
    color: white;
}

.footer p {
    font-size: 2vh;
    padding: 0 0 2rem 2rem;
    font-family: 'Poppins-Regular';
    color: rgb(197, 197, 197);
    margin: 0;
}

/* --!-- HOME PAGE --!-- */

/* PROMOTION SECTION */

.promotion {
    overflow: hidden;
    padding: 2rem 2rem 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-text-section {
    float: left;
    width: 50%;
    padding: 0 2rem 0 2rem;
}

.promo-text-section h1 {
    font-size: 3.5vh;
}

.promo-text-section h2 {
    font-size: 2.5vh;
}

.promo-image-section {
    float: left;
    width: 45%;
}

.promo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 520px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 15px 15px #9dcbec;
}

button {
    font-family: 'Poppins-Bold';
    font-size: 1.5rem;
    background-color: rgb(29,127,192);
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

button:hover {
    background-color: rgb(110, 187, 255);
}

/* ABOUT US SECTION */

.about-us {
    padding-top: 6.5rem;
    background: rgba(29,127,192,1);
    background: linear-gradient(0deg, rgba(29,127,192,1) 0%, #9dcbec 100%);
    --mask:
    radial-gradient(51.61px at 50% 72.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(51.61px at 50% -42px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
    -webkit-mask: var(--mask);
        mask: var(--mask);
    padding-bottom: 3rem;
}

.quote h1 {
    color: white;
    font-size: 3.6vh;
}

.about-us h2 {
    color: white;
    font-size: 2vh;
}

.about-us-images {
    display: flex;
    justify-content: space-evenly;
    padding: 2.5rem 0 3rem 0;
    text-align: center;
}

.about-us-images .image-info {
    width: 25%;
}

.about-us-images .image-info img {
    height: 120px;
}

.quote {
    text-align: center;
    padding: 0rem 6rem 0rem 6rem;
}

/* LOCATIONS SECTION */

.locations {
    padding-top: 3rem;
    text-align: center;
}

.location {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 2rem 3rem 2rem 3rem;
}

.location-image {
    width: 100%;
    height: 25rem;
    position: relative;
    border-radius: 10px;
    box-shadow: 15px 15px #bae1fd;
    object-fit: cover;
}

.caption {
    display: block;
}

.overlay {
    /* Background */
    border-radius: 10px;
    position: absolute; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    transition: .5s ease;
    top: 0;
    width: 100%;
    height: 25rem;
    opacity: 0;
    padding: 3rem;

    /* Font */
    font-family: 'Poppins-Bold';
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

.location:hover .overlay {
    opacity: 1;
}

.location h2 {
    margin-top: 2rem;
}

.location h1 {
    margin: 0;
}

/* SHOP SECTION */

.shop {
    margin-top: 2rem;
    padding-top: 7rem;
    text-align: center;
    background: rgba(157,203,236,1);
    background: linear-gradient(0deg, rgba(157,203,236,1) 0%, rgba(29,127,192,1)100%);
    box-shadow: 0px -20px #9dcbec;
        --mask:
          radial-gradient(58.00px at 50% 82.00px,#000 99%,#0000 101%) calc(50% - 80px) 0/160px 100%,
          radial-gradient(58.00px at 50% -42px,#0000 99%,#000 101%) 50% 40px/160px 100% repeat-x;
        -webkit-mask: var(--mask);
                mask: var(--mask);  
}

.shop h1 {
    color: white;
}

.scroll-parent {
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(192, 229, 255)100%);
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 3rem;
    padding-bottom: 35%;
    overflow-x: hidden;
}
  
.scroll-element {
    width: inherit;
    height: inherit;
    position: absolute;
    animation: primary 10s linear infinite;
}

.scroll-element .image-info {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 0;
    width: 25%;
}

.scroll-element .image-info img {
    width: 70%;
    height: auto;
    box-shadow: 15px 15px #9dcbec;
    border-radius: 8px;
}

.scroll-element h1 {
    color: #333333;
    display: block;
    margin: 0;
}

.scroll-element h2 {
    color: rgba(29,127,192,1);
    font-size: 2rem;
    display: block;
    margin-bottom: 0;
}

.primary {
    animation: primary 10s linear infinite;
}
  
.secondary {
    animation: secondary 10s linear infinite;
}

.shop button {
    font-size: 2rem;
    margin-bottom: 3rem;
}
  
@keyframes primary {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
}
  
@keyframes secondary {
    from {
      left: 100%;
    }
    to {
      left: 0%;
    }
}

.wave2 {
    background: #333333;
    --mask:
      radial-gradient(58.00px at 50% calc(100% - 82.00px),#000 99%,#0000 101%) calc(50% - 80px) 0/160px 100%,
      radial-gradient(58.00px at 50% calc(100% + 42.00px),#0000 99%,#000 101%) 50% calc(100% - 40px)/160px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

/* MENU LINK SECTION */

.menu-link {
    padding: 2rem 2rem 5rem 2rem;
    text-align: center;
}

.menu-link h2 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.menu-link h1 {
    padding: 0;
    margin: 0;
}

.menu-link a {
    color: #287cb7;
}

.menu-link a:hover {
    color: #96d3ff;
}

/* --!-- SHOP PAGE --!-- */

.shop-page {
    margin-top: 0rem;
    text-align: center;
}

.main-header-shop {
    text-align: center;
    margin: 0;
    padding: 3rem 0 4.5rem 0;
    font-size: 6vh;
    background: #9dcbec;
    background: linear-gradient(0deg, #9dcbec 0%, #81b1d3 100%);
    color: white;
    --mask:
        radial-gradient(34.99px at 50% calc(100% - 48.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(34.99px at 50% calc(100% + 18.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

.filter-buttons {
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.filter-buttons input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.shop-page span, .menu span {
    font-family: 'Poppins-Bold';
    font-size: 1.5rem;
    cursor: pointer;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0 1rem 0.5rem 1rem;
    background-color: rgb(185, 185, 185);
    box-shadow: 0px 8px gray;
    border-radius: 15px;
}

.filter-buttons input:checked ~ .checkmark {
    color: white;
    background-color: #9dcbec;
    box-shadow: none;
    transform: translateY(10px);
}

.item {
    display: inline-block;
    width: 25%;
    margin: 2rem;
}

.item img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 15px 15px #9dcbec;
    margin-bottom: 2rem;
}

.item h1 {
    width: 100%;
    font-size: 2.5vw;
    margin: 0;
    padding: 0;
}

.item h2 {
    font-size: 2vw;
    margin: 0 0 0.5rem 0;
}

.item h3 {
    margin: 0;
    font-family: 'Poppins-Regular';
    font-size: 1.5rem;
    color: #96d3ff;
}

.item h4 {
    font-family: 'Poppins-Bold';
    font-size: 2.5vh;
    margin: 0 1rem 0 1rem;
}

.amount-in-cart {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-button {
    font-size: 3rem;
    color: #287cb7;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.quantity-button:hover {
    color: #349fec;
}

.shop-page button {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin: 0;
    font-size: 2.5vh;
}

.remove-button {
    background-color: rgb(205, 118, 103);
}

.button-message h1 {
    clear: both;
    color: #959595;
    text-align: center;
    padding: 6rem 0 6rem 0;
}

.cart-open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 130px;
    right: 0px;
    width: 75%;
    height: 100%;
    background-color:#ffffff;
    box-shadow: -20px 0px 300px rgba(30, 30, 30, 0.5);
    padding: 0 2rem 4rem 2rem;
    transition: 0.7s ease-in-out;
}

.cart-closed {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 130px;
    right: -1300px;
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    padding: 0 2rem 2rem 2rem;
    transition: 0.7s ease-in-out;
}

.close-cart-button {
    font-size: 3rem;
    color: #287cb7;
    cursor: pointer;
}

.close-cart-button:hover {
    color: #319fed;
}

.cart-header {
    display: flex;
    padding: 2.5rem 2rem 2rem 2rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cart-header h1 {
    margin: 0;
    padding: 0;
}

.cart-header h2 {
    font-size: 2rem;
    color: #7f7f7f;
}

.cart-body {
    margin: 1rem;
    overflow: scroll;
    padding-bottom: 7rem;
}

.cart-body h4 {
    font-family: 'Poppins-Bold';
    color: rgb(165, 165, 165);
    text-align: center;
    margin-top: 6rem;
    font-size: 2rem;
}

.cart-item {
    height: 150px;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
}

.cart-item img {
    border-radius: 8px;
    box-shadow: 10px 10px #9dcbec;
}

.cart-item span {
    color: #9dcbec;
}

.cart-item h2 {
    color: #333333;
}

.cart-item h3 {
    font-family: 'Poppins-Bold';
}

.cart-item-info {
    width: 70%;
    height: 150px;
    padding: 1rem 0 1rem 2rem;
}

.cart-item-total {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.remove-item-button {
    color: rgb(168, 78, 78);
    flex-shrink: 0;
    font-size: 3.5rem;
    margin: 0 0 0 1rem;
    cursor: pointer;
}

.remove-item-button:hover {
    color: rgb(226, 65, 65);
}

.cart-checkout {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 80px;
}

/* --!-- MENU PAGE --!-- */

.menu {
    clear: right;
}

.menu .main-header {
    text-align: center;
    font-size: 6vh;
    margin: 0;
    padding: 0;
}

.menu .filter-buttons input:checked ~ .checkmark {
    background-color:#319fed;
}

.menu-section-header {
    margin: 0;
    color: white;
    font-size: 3rem;
    padding: 5rem 0 1rem 4rem;
    background: rgb(30, 130, 197);
        --mask:
          radial-gradient(58.00px at 50% 82.00px,#000 99%,#0000 101%) calc(50% - 80px) 0/160px 100%,
          radial-gradient(58.00px at 50% -42px,#0000 99%,#000 101%) 50% 40px/160px 100% repeat-x;
        -webkit-mask: var(--mask);
                mask: var(--mask);
}

.list {
    float: left;
    width: 50%;
}

.menu-section {
    display: flex;
    margin: 1rem 0 0 0;
}

.menu-section p {
    text-align: center;
    font-family: 'Poppins-Regular';
    color: rgb(50, 139, 198);
    margin: 0;
    padding: 0;
}

.menu-section h2 {
    margin: 0;
    padding: 0;
    color:rgb(21, 88, 133);
}

.menu-section h3 {
    padding: 0;
    margin: 0;
    font-family: 'Poppins-Bold';
    color: white;
    text-align: center;
}

.left-of-section {
    background-color: aliceblue;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    width: 70%;
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
}

.right-of-section {
    align-items: center;
    justify-content: center;
    background: rgba(157,203,236,1);
    background: linear-gradient(0deg, rgb(113, 179, 225) 0%, rgba(29,127,192,1)100%);
    font-size: 1.5rem;
    width: 30%;
}

.gap {
    clear: both;
    height: 1rem;
}

/* --!-- MOBILE RESPONSIVENESS --!-- */

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    /* NAVIGATION BAR SECTION */

    .navbar {
        padding: 1rem 2rem 1rem 2rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-image {
        height: 55px;
    }

    .mobile-navbar-button {
        display: flex;
    }

    .navbar-links {
        display: none;
    }

    .navbar-links-active {
        width: 100%;
        display: flex;
        z-index: 2;
    }

    .navbar-links-active ul {
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    .navbar-links-active li {
        list-style: none;
    }
    
    .navbar-links-active li a {
        font-family: 'Poppins-Regular';
        font-size: 1.5rem;
        text-decoration: none;
        color: rgb(0, 61, 105);
        padding: 1rem;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
    }
    
    .navbar-links-active li a:hover {
        color: #349fec;
    }

    /* FOOTER SECTION */
    .footer {
        padding-bottom: 0rem;
    }

    .footer-links a {
        padding: 1rem 0 1rem 0;
        font-size: 1.3rem;
    }

    .footer p {
        padding: 1rem;
    }

    /* PROMO SECTION */

    .promotion {
        padding-top: 7rem;
        display: block;
    }

    .promo-image {
        margin-top: 1rem;
        height: auto;
    }

    .promo-text-section {
        text-align: center;
        padding-bottom: 1rem;
    }

    .promo-text-section, .promo-image-section {
      width: 100%;
    }

    button {
        font-size: 1.3rem;
    }

    /* ABOUT US SECTION */

    .promotion{
        padding-top: 0;
    }

    .about-us-images {
        display: block;
        padding: 0;
    }

    .about-us-images .image-info {
        width: 100%;
        padding: 1rem 2rem 1rem 2rem;
    }

    .about-us-images .image-info img {
        height: 60px;
    }

    .quote {
        padding: 0rem 1.5rem 0rem 1.5rem;
    }

    .quote h1, h2 {
        font-size: 16px;
    }

    /* LOCATION SECTION */

    .locations h1 {
        padding: 0 2rem 0 2rem;
    }

    .overlay {
        font-size: 1.9rem;
    }

    /* SHOP SECTION */

    .scroll-parent {
        padding-bottom: 44%;
    }

    .scroll-element .image-info img {
        box-shadow: 7px 7px #9dcbec;
    }

    .image-info h1 {
        font-size: 2.5vh;
    }
    
    .scroll-element h2 {
        font-size: 1rem; 
    }

    .shop button {
        font-size: 1.3rem;
    }

    /* MENU LINK SECTION */

    .menu-link h2 {
        font-size: 2rem;
    }

    .menu-link h1 {
        font-size: 2rem;
    }

    /* --!-- SHOP PAGE --!-- */

    .shop-page {
        margin-top: 0rem;
    }

    .item {
        width: 35%;
        margin: 1rem;
    }

    .item h1 {
        font-size: 2.5vh;
    }

    .item h2 {
        font-size: 2.5vh;
    }

    .item h4 {
        margin: 0 0.5rem 0 0.5rem;
    }

    .item button {
        width: 100%;
        margin: 0;
    }

    .cart-closed {
        padding: 2rem 0 0 0;
        top: 0px;
        z-index: 3;
    }

    .cart-open {
        padding: 2rem 0 0 0;
        top: 0px;
        width: 100%;
        z-index: 3;
        box-shadow: none;
    }

    .cart-header {
        padding: 0 2rem 0 2rem;
    }
    
    .cart-body {
        margin: 1rem;
        overflow: scroll;
        padding-bottom: 7rem;
    }

    .cart-item {
        height: 100px;
    }

    .cart-item img {
        height: 100px;
        box-shadow: 5px 5px #9dcbec;
    }

    .cart-item-info {
        height: 100px;
        width: 65%;
        padding: 0 0 0 1rem;
    }
    
    .cart-item-total {
        height: 100px;
        width: 35%;
    }

    .remove-item-button {
        margin: 0.3rem;
        font-size: 30px;
    }

    .cart-checkout {
        height: 60px;
    }

    /* --!-- MENU PAGE --!--*/

    .main-header {
        font-size: 3rem;
        padding-top: 2rem;
    }

    .list {
        width: 100%;
    }
    
    .menu-section-header {
        padding-left: 2rem;
        font-size: 2rem;
    }

    .menu-section p {
        font-size: 1rem;
    }

    .menu-section h2 {
        font-size: 1.3rem;
    }

    .menu-section h3 {
        font-size: 1rem;
    }

    .filter-buttons button {
        padding: 1rem 1.5rem 1rem 1.5rem;
    }
}